*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#characterNumber{
    border-radius: 10px;
}
#star_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    min-width: 500px;
    margin-bottom: -30px
}
.container{
    /* background-color: grey; */
    background-color:black;
    /* stary background patter from: https://projects.verou.me/css3patterns/#starry-night */
background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    min-height: 100vh;
    margin-top: 10px;
    overflow: auto;
}
body{
    background-color: azure;
}
#eye_color,#title{
    text-align: center;
    color: yellow;
}

h1{
    text-align: center;
}