*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#characterNumber{
    border-radius: 10px;
}
#star_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    min-width: 500px;
    margin-bottom: -30px
}
.container{
    background-color:black;
    min-height: 100vh;
    margin-top: 10px;
    overflow: auto; 
}
body{
    background-color: azure;
}
#eye_color,#title,.movies,.characters{
    text-align: center;
    color: yellow;
}
.movies,.characters{
    text-align: center;
    display: block;
}

h1{
    text-align: center;
}