*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: grey;
    margin-top: 10px;
    overflow: auto;
}
body{
    background-color: azure;
}
#eye_color{
    text-align: center;
    color: white;
}

h1{
    text-align: center;
}